* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.blue-header {
    background-color: #318CE7;
}

body {
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 8px;
}

header h1 {
    font-style: italic;
}

.menu {
    display: flex;
    list-style: none;
}
.menu li a {
    padding: 0 8px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#sobre-a-loja {
    display: flex;
    margin-bottom: 56px;
}

#sobre-a-loja img {
    width: 40%;
    margin-top: 32px;
}

#sobre-a-loja div {
    width: 60%;
    margin-top: 32px;
    margin-left: 16px;
}

h2 {
    color:#318CE7;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 3px #318CE7 solid;
}

#area-produtos {
    width: 100%;
}
.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    gap: 12px;
}

.produto img {
    width: 100%;
}

.produto h2 {
    color: black;
    border: none;
    font-style:normal;
    margin-bottom: 0;
    margin-top: 16px;
}

button {
    width: 100%;
    border-radius: 1px;
    background-color: #318CE7;
    border:none;
    color: #f4f4f4;
    padding: 8px;
    margin: 16px 0;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #f4f4f4;
    border: #318CE7 solid 2px;
    color: #318CE7;
    
}

@media (max-width: 1023px) {
    .container {
        width: 85%;
        margin: 24px auto;
    }
    #sobre-a-loja {
        flex-direction: column; /* Stack items vertically */
    }

    #sobre-a-loja img {
        width: 100%; 
        margin-top: 16px;
    }

    #sobre-a-loja div {
        width: 100%; /* Full width for text */
        margin-left: 0; /* Remove left margin */
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

@media (max-width: 640px) {

    .container {
        width: 85%;
        margin: 0 auto;
    }
    #sobre-a-loja {
        display: block; /* Stack items vertically */
    }

    #sobre-a-loja img,
    #sobre-a-loja div {
        width: 100%; /* Full width for both image and text */
         /* Remove margins */
    }

    .produtos {
        display: block; /* Display as block */
    }

    .produto {
        margin-bottom: 16px; /* Space between products */
    }
}
